.section-header {
    background-color: #17a2b8;
}
.section-slide-body {
    color: white;
}
.section-menu .container-fluid {
    margin: 0px;
    padding: 0px;
}
.description {
    margin-top: 6.5rem;
    
}
.section-courses-content {
    margin-top: 3.5rem;
}
.card-img-top {
    height: 25vh;
}